.NamePhotoTime{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 10px;
}
.PostImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.Time{
    text-align: left;
    font-size: small;
}
.PostText{
    text-align: left;
}
.PostImg{
    width: 400px;
    padding: 20px;
}
.PostButtons{
    display: flex;
    text-align: left;
    padding:  10px 0;
    gap: 6px;
}
