ul{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: #F4FEFF;
}
li a:hover{
    color: #a04974;
}